.container-caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information{
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    margin: 0 auto;
    padding: 0 40px;
}

.formularios-question {
    width: 100%;
    padding-left: 80px;
}

.first-text{
    margin: 0;
}

.mensaje-formularios{
    margin: 75px 0;
}

  
  .additional-questions {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  }
  
  .additional-questions.visible {
  max-height: 1000px;
  opacity: 1;
  }
  
  .additional-questions.hidden {
  max-height: 0;
  opacity: 0;
  }
  
  .space-no {
  margin-bottom: 0;
  height: 0; /* Asegura que no ocupe espacio si está colapsado */
  transition: margin-bottom 0.5s ease, height 0.5s ease;
  }
  
  .space-no.active {
  margin-bottom: 50px;
  }
  