/* Contenedor de circulos */
.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.139); */
}

/* Contenedor para los puntos */
.bouncingDots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* Estilo de los puntos */
.dot {
  width: 20px;
  height: 20px;
  background-color: var(--verdeApp);
  border-radius: 50%;
  animation: bounce 1s infinite, fadeIn 0.3s forwards;
  opacity: 0;
}

/* Animaciones para cada punto */
.dot:nth-child(1) {
  animation-delay: 0.1s, 0.1s; /* Ajusta el tiempo de aparición y animación */
}

.dot:nth-child(2) {
  animation-delay: 0.2s, 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.3s, 0.3s;
}

/* Animación de rebote */
@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

/* Animación de aparición */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}