/* Contenedor principal que envuelve todo */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    width: 100%;
}
  
/* Contenedor para los dominios */
.container-dominios {
    width: 100%;
    max-width: 1200px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  /* Sección del encabezado */
.header {
    text-align: center;
    margin-bottom: 30px;
}
  
.header h1 {
    font-size: 2rem;
    color: #333;
}
  
.header p {
    font-size: 14px;
    color: #666;
}
  
/* Sección destacada */
.featuredSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    width: 100%;
    box-sizing: border-box;
}
  
.featuredImage {
    flex: 0 0 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 8px;
    margin-right: 20px;
}
  
.featuredInfo {
    flex: 1;
    min-width: 200px;
}
  
.featuredInfo h2 {
    font-size: 1.5rem;
    color: #333;
}
  
.featuredInfo p {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}
  
.downloadButton {
    background-color: var(--verdeApp);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1rem;
}
  
.downloadButton:hover {
  background-color: var(--verdeApp2);
}
  
/* Sección de más descargados */
.mostDownloaded {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}
  
.mostDownloaded h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}
  
.mostDownloaded ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mostDownloaded li {
  font-size: 1rem;
  color: #666;
  margin-bottom: 5px;
}
  
/* Categorías */
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
  
/* Ajustes responsivos */
@media (max-width: 768px) {
    .featuredSection {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .featuredImage {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 550px) {
    .container {
      padding: 20px 10px;
    }
  
    .mostDownloaded,
    .featuredSection,
    .categories {
      padding: 15px;
    }
  
    .categories {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  
  @media (max-width: 800px) {
    .search-bar {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .featuredInfo {
      flex: 1;
      min-width: 100px;
    }
    
  }

.search-bar {
  display: flex;
  gap: 20px;
}

