.information{
    width: 900px;
    word-wrap: break-word;
    white-space: normal; 
    overflow-wrap: break-word;
    margin: 0 auto;
  }

.container-caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ask-format {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    background-color: var(--fondo);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-right: 30%;
    margin-top: 10px;
    box-sizing: border-box;
  }

.enunciado {
    text-align: right;
    flex: 1;
    min-width: 50%;
}

.form-desing {
    width: 100%;
}

.link-ip{
  color: gray;
  font-size: 14px;
}

.link-ip-a{
  margin-left: 5px;
  text-decoration: none;
  color: var(--verdeApp);
}

.link-ip-a:hover {
  text-decoration: underline;
}

.additional-questions {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.additional-questions.visible {
  max-height: 1000px;
  opacity: 1;
}

.additional-questions.hidden {
  max-height: 0;
  opacity: 0;
}

.space-no {
  margin-bottom: 0;
  height: 0;
  transition: margin-bottom 0.5s ease, height 0.5s ease;
}

.space-no.active {
  margin-bottom: 50px;
}
