.saveButton {
    background-color: var(--verdeApp); /* Rojo oscuro */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .saveButton:hover {
    background-color: var(--verdeApp2);
  }
  
  .saveButton:active {
    background-color: #076147; /* Color al hacer clic */
  }
  
  .saveButton .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; /* Tamaño del ícono */
  }
  
  .container-button {
    display: flex; /* Permite usar flexbox */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Opcional: centra el contenido verticalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    margin: 30px 0;
  }
  