.container-caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information{
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    margin: 0 auto;
    padding: 0 40px;
}

.cookies-question {
    width: 100%;
    padding-left: 80px;
}