/* Contenedor general */
.contenedor-general {
    background-color: white;  /* Fondo blanco */
    border-radius: 8px;        /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra sutil debajo */
    padding: 20px;  /* Espaciado interno para que los elementos no toquen el borde */
    /* max-width: 300px; */
    margin: 30px auto 10px 100px;  /* Centra el contenedor en la página y le da un margen alrededor */
    box-sizing: border-box;  /* Asegura que el padding no afecte el tamaño total del contenedor */
  }
  
  /* Título */
  .contenedor-general h3 {
    margin-top: 0;  /* Elimina el margen superior para que esté pegado al borde del contenedor */
    font-size: 18px;  /* Tamaño de fuente del título */
    font-weight: bold;  /* Negrita */
    color: #333;  /* Color del texto */
  }
  
  /* Párrafos */
  .contenedor-general p {
    color: #666;  /* Color del texto */
    font-size: 14px;  /* Tamaño de fuente del párrafo */
    line-height: 1.6;  /* Altura de línea para mejorar la legibilidad */
    margin-bottom: 10px;  /* Espacio inferior entre párrafos */
  }
  
  .configButton {
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  
  .configButton:hover {
    background-color: #d4cfcf;
  }