/* Contenedor general */
.progressBar {
  position: relative;
  width: 40px;  /* o lo que prefieras */
  margin: 20px 0;
}

/* Línea gris */
.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  background-color: #e0e0e0;
  border-radius: 2px;
}

/* Línea verde */
.lineFill {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  background-color: #4caf50;
  border-radius: 2px;
  transition: height 0.3s ease;
}

/* Contenedor de las bolitas */
.steps {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Cada paso */
.step {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

/* Activo */
.step.active .circle {
  background-color: #4caf50;
  border-color: #4caf50;
}


/* Círculo */
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 50%;
  }
  
  /* .circle svg {
    font-size: 1px;
     color: #fff;
  } */
  
.icon {
    width: 25px; 
    height: 25px;
}