.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Cambiado a flex-start para que no haya espacio vacío arriba */
  padding: 40px 150px; /* Reducido el padding lateral para mejor responsividad */
  max-width: 100%;
}

/* Estilos para el contenedor de los dos <h2> */
.container_header {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}

/* Contenedor para los dominios */
.container-documents {
  overflow-x: auto; /* Habilita el scroll horizontal */
  white-space: nowrap; /* Asegura que las celdas no se rompan en varias líneas */
  display: block; /* Evita que los estilos de tabla interfieran */

  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden;
}

.content-info {
  display: flex;
  border-bottom: 1px solid #ddd;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.main-model-container {
  display: flex;
}

/* Medianas pantallas (Tablets) */
@media (max-width: 1490px) and (min-width: 1157px) {
  .main-model-container {
    flex-direction: column;
    gap: 20px;
  }
}
/* Medianas pantallas (Tablets) */
@media (max-width: 1157px){
  .main-model-container {
    flex-direction: column;
  }
  .content-info {
    flex-direction: column;
  }
  .container {
    padding: 20px 10px; /* Reduce padding para móviles */
  }
    
  .container_header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; /* Espaciado entre encabezados */
  }

  .main_model_container {
    padding: 10px 0; /* Ajuste de padding */
  }
}