.information{
    width: 900px;
    word-wrap: break-word; /* Permite que las palabras largas hagan saltos de línea */
    white-space: normal; /* Asegura que el texto se ajuste al ancho del contenedor */
    overflow-wrap: break-word; /* Alternativa moderna para gestionar palabras largas */
    margin: 0 auto;
  }

.container-caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ask-format {
    display: flex; /* Contenedor principal en flexbox */
    justify-content: space-between; /* Distribuye el espacio entre los dos contenedores */
    gap: 20px; /* Espaciado entre los contenedores */
    width: 100%; /* Ocupa todo el ancho */
    background-color: var(--fondo); /* Fondo del contenedor */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
  }

.enunciado {
    text-align: right;
    flex: 1;
    min-width: 50%;
}

.form-desing {
    min-width: 50%;
}

.parrafo-preguntas {
  margin: 0px 0px 35px 0px;
}

.text-input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
  outline: none;
  margin-bottom: 30px;
}

.text-otros{
  font-size: 15px;
  color: gray;
}

