.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}

.container_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin-bottom: 20px; */
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.form-row {
    display: flex;
}

.form-column {
    flex: 1;
}

.form-column-questions-authorization {
    flex: 1;
    margin-right: 200px;
}

.form-column-questions-profesion {
    flex: 1;
    margin-right: 200px;
}


.content {
    display: flex;
    gap: 20px;
    width: 100%;
}

.leftPanel {
    flex: 1;
    max-width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rightPanel {
    flex: 2;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

.profileInfo {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 auto 10px;
}

.companyName {
    font-size: 18px;
    font-weight: bold;
}

.email {
    font-size: 14px;
    color: #666;
}

.navigation p {
    font-size: 16px;
    padding: 10px 5px;
    margin: 0;
    cursor: pointer;
    color: #333;
}

.navigation p:hover {
    color: var(--verdeApp);
    background-color: var(--fondo);
}
.saveButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--verdeApp);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
}

.saveButton:hover {
    background-color: var(--verdeApp2);
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

.modificar-clave {
    margin-bottom: 40px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
}

.center-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.additional-questions.visible {
    max-height: 1000px;
    opacity: 1;
}

.additional-questions {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.additional-questions.hidden {
    max-height: 0;
    opacity: 0;
}