/* Contenedor principal */
.header {
  display: flex;
  flex-direction: column; /* Organiza las filas en columnas */
  gap: 10px; /* Espaciado entre las filas */
  background-color: white;
}

/* Primera fila: Logo e iconos en columnas */
.header__row.header__top {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  padding: 0 80px;
  height: 60px; /* Ajusta la altura de la fila */
}

/* Estilo para las filas */
.header__row {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f5f5f7;  /* background tambien  */
}

/* Logo */
.header__logo img {
  max-width: 100%; /* Asegura que el logo sea responsivo */
  height: auto; /* Mantiene la proporción del logo */
}

.hamburger-icon {
  font-size: 24px;
  cursor: pointer;
  padding: 5px; /* Ajustar tamaño del área clickeable */
}

/* Íconos alineados a la derecha */
.header__icons {
  padding-right: 40px;
  display: flex;
  gap: 15px;
  justify-content: flex-end; /* Alinea los íconos al extremo derecho */
  align-items: center; /* Alinea los íconos verticalmente */
}


.header__row.header__bottom{
  padding: 0 80px;
}


.header__menu__nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Elementos del menú */
.header__menu__nav li {
  font-size: 15px; /* Tamaño de fuente por defecto */
  font-weight: 500;
  cursor: pointer;
  padding: 10px 10px 25px 13px;
}

/* Estilo para el ítem activo */
.header__menu__nav li.active {
  color: var(--verdeApp);
  border-bottom: 2px solid var(--verdeApp);
}

.hamburger-icon {
  display: none;
}

@media (max-width: 1025px) {
  .header__row.header__bottom {
    display: none;
  }

  .hamburger-icon {
    display:  inline-block;
    cursor: default;
    font-size: 30px;
    /* padding: 10px; */
  }

  .hamburger-icon:hover {
    cursor: pointer; /* Muestra el cursor pointer solo al hacer hover */
  }

  .header__row.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
  }
  
  .header__logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre el logo y el icono del menú */
  }
}

.logotipo {
  width: 100px; /* Ajusta el ancho */
  height: auto; /* Mantén la proporción */
}

.contact-icon {
  color: var(--verdeApp); /* Cambia a cualquier color que prefieras */
  /* font-size: 20px; */
  cursor: pointer;
}

/* Cambiar el color al pasar el mouse */
.contact-icon:hover {
  color: var(--verdeApp2);
}
