.formulario {
    display: flex;
    gap: 10px;
    align-items: center;
}

.formulario-caracteristicas {
    display: flex;
    gap: 10px; /* Espaciado entre los elementos */
}

.row {
    flex-direction: row;
    align-items: center;
}

.column {
    flex-direction: column;
    align-items: flex-start; /* Alinear a la izquierda */
}


input[type="radio"] {
    appearance: none;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 5px;
    padding: 5px;
    transition: box-shadow 0.3s, background-color 0.3s;
}

input[type="radio"]:checked {
    background-color: green;
    box-shadow: inset 0 0 0 2px white;
}