.textos-legales-container {
    display: flex; /* Habilita el diseño en columnas */
    justify-content: space-between; /* Separa las columnas */
    gap: 20px; /* Espacio entre las columnas */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding dentro del tamaño total */
    margin-bottom: 30px;
}
  
  /* Estilo para la columna 1 */
.columna1 {
    flex: 1;
    min-width: 60%;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-sizing: border-box;
    word-wrap: break-word; /* Asegura que las palabras largas se rompan si es necesario */
    white-space: normal;  /* Permite que el texto haga saltos de línea cuando se llega al borde */
}

  
  /* Estilo para la segunda columna */
.columna2 {
    flex: 1; /* Hace que la columna 2 ocupe el 50% del ancho disponible */
    padding: 10px; /* Ajusta el espacio interno */
    background-color: #e0e0e0; /* Puedes personalizar el color de fondo */
    border-radius: 8px;
}

.fila-content {
  display: flex;
  align-items: center;  /* Centra verticalmente los items de .fila-content */
  gap: 50px;
  padding: 0px 30px;
}

  
.parrafo{
  padding:0 20px;
}

@media (max-width: 1400px) {
    .textos-legales-container {
      flex-direction: column;
    }
}