/* Contenedor principal que envuelve todo */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 150px;
}

/* Estilos para el contenedor de los dos <h2> */
.container_header {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}

/* Contenedor para los dominios */
.container-dominios {
  overflow-x: auto; /* Habilita el scroll horizontal */
  white-space: nowrap; /* Asegura que las celdas no se rompan en varias líneas */
  display: block; /* Evita que los estilos de tabla interfieran */

  background-color: white;
  padding: 170px;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  overflow: hidden;
}

/* Título de la sección */
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.table th {
  background-color: #f8f8f8;
  font-weight: bold;
}

/* Botón de agregar nueva web */
.addButton {
  display: inline-block;
  margin: 23px 0;
  padding: 10px 20px;
  background-color:  var(--verdeApp); /* Color rojo similar a la imagen */
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.addButton:hover {
  background-color: var(--verdeApp2);
}

.new-web{
  color: var(--verdeApp);
}

.texto-dominio {
  display: inline; /* Ajusta el ancho al texto */
}

.texto-dominio:hover {
  color: var(--verdeApp2); /* Cambia el color al pasar el mouse */
  cursor: pointer; /* Cambia el cursor a pointer */
}

.texto-update{
  color: var(--grisApp);
}

@media (max-width: 1161px) {
  .title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .addButton {
    display: inline-block;
    margin: 12px 0px;
    padding: 0px 3px;
    background-color:  var(--verdeApp); /* Color rojo similar a la imagen */
  }

  .container {
    padding: 40px 30px;
  }
  
  .table th {
    background-color: #f8f8f8;
    font-size: 13px;
  }

  .texto-dominio {
    font-size: 11px;
  }

  .texto-update{
    font-size: 12px;
  }

  .container-dominios {
    padding: 5px;
  }
}

/* // */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination .activePage {
  background-color: #00bfa6;
  color: white;
}
